<!DOCTYPE html>
<html>
<head>
    <title>Smart Agriculture AI</title>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
</head>
<body>

<div class="navbar">
    🌾 Smart Agriculture Recommendation System
</div>

<div class="wrapper">
    <div class="glass-card">
        <h2>Soil Nutrient Analysis</h2>
        <form method="post">
            <div class="input-group">
                <label>Nitrogen (N)</label>
                <input name="N" required>
            </div>
            <div class="input-group">
                <label>Phosphorus (P)</label>
                <input name="P" required>
            </div>
            <div class="input-group">
                <label>Potassium (K)</label>
                <input name="K" required>
            </div>
            <button>Analyze Farm</button>
        </form>
    </div>

    <div class="image-section">
        <img src="https://images.unsplash.com/photo-1501004318641-b39e6451bec6">
    </div>
</div>

<footer>AI Powered Farming Assistance 🌱</footer>

</body>
</html>